*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.centerElements{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerHeader{
    background-color: #132235;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: auto;
}

.imgLogo{
    height: auto;
}

.navHeader a{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2.5em;
    margin-right: 1em;
}

.navHeader a:hover{
    cursor: pointer;
}

.containerHome{
    width: auto;
}

.backgroundImage{
    background-image: url('assets/img_home.png');
    height: 540px;
    background-position: center;
    background-size: cover;
}

.infoHome{
    background-color: rgba(255,255,255,0.67);
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 80px;
    left: 200px;
    border-radius: 10px;   
    padding: 1em;
}

.infoHome h1{
    color: #132235;
    font-size: 2em;
    text-align: center;
    padding: 0 2em;
}

.infoHome p{
    color: #132235;
    font-size: 1.5em;
    text-align: center;
    font-weight: lighter;
    padding: 0 1.5em;
}

.btnPadrao{
    background-color: #132235;
    color: #fff;
    text-align: center;
    font-size: .75em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 2em;
    border-radius: 5px;
    transition: 300ms;
}

.btnPadrao:hover{
    background-color: #fff;
    color: #132235;
    border: 2px solid #132235;
    cursor: pointer;
}

.containerQuemSomos{
    margin: 2em 0;
    padding: 1em 0 2em 0;
    text-align: center;
}
.infoQuemSomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin: 20px auto;
}

.containerQuemSomos h2{
    text-transform: uppercase;
}

.containerQuemSomos p{
    font-weight: lighter;
    font-size: 20px;
    margin: 1.5em 0;
    padding: 0 2em;
}

.containerOQueFazemos{
    background-color: rgba(196,196,196,17%);
    padding: 40px 0;
    text-align: center;
}

.containerOQueFazemos h3{
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 0 1.3em 0;
}

.listaOQueFazemos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.listaOQueFazemos img{
    width: 220px;
}

.listaOQueFazemos h4{
    text-transform: uppercase;
    margin: .75em 0;
}

.listaOQueFazemos p{
    margin: .75em 0;
    font-weight: lighter;
    padding: 0 15px;
    line-height: 25px;
}

.infoMoradia, .infoGerenciamento, .infoReforma{
    width: 250px;
    padding: 10px;
    border: 1px solid #BBBDBF;
    border-radius: 5px;
    text-align: center;
}

.containerFormulario{
    background-image: url('assets/img_form.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.infoForm{
    width: 30%;
    height: 90%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.infoForm h4{
    font-size: 1.5em;
    text-align: center;
    padding: 0 1em;
}

.inputPadrao{
    width: 80%;
    padding: 10px;
    border: 1px solid #BBBDBF;
    border-radius: 5px;
    resize: none;
}

.inputPadrao::-webkit-input-placeholder{
    color: #BBBDBF;
    font-family: 'Roboto', sans-serif;
}

.containerRodape{
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-bottom: 1px solid #BBBDBF;
}

.containerRodape h6{
    color: #132235;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.linksRodape{
    display: flex;
}

.listaLinks{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    list-style: none;
}

.listaLinks a{
    color: #BBBDBF;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.listaLinks .fa-brands{
    color:#132235;
}

.copyright{
    text-align: center;
    margin: 20px;
    color:#BBBDBF;
}

.error{
    position: fixed;
    min-width: 250px;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #FF1D23;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.success{
    position: fixed;
    min-width: 250px;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #82BF6E;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 800px){
    .containerHeader, .containerMain, .containerFooter{
        width: auto;
    }

    .containerHeader{
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    .navHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navHeader a{
        font-size: 1em;
        margin: 0.75em .75em;
    }

    .backgroundImage{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .infoHome{
        position: unset;
        width: 85%;
        padding: 20px;
    }

    .infoHome h1{
        font-size: 1.5em ;
    }

    .infoHome p{
        font-size: 1.2em;
    }

    .infoQuemSomos{
        width: auto;
    }

    .listaOQueFazemos{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .infoMoradia,.infoGerenciamento,.infoReforma{
        width: auto;
        margin: 20px;
    }

    .infoForm{
        width: auto;
        height: auto;
        margin: 20px;
        padding: 20px;
    }
    
    .btnPadrao{
        width: 80%;
    }

    .inputPadrao{
        margin: 10px;
    }

    .error, .success{
        width: 100%;
        left:0;
    }
}